body{
    margin:0;
    background-color: rgb(223, 186, 186);
}
header{
    background-color:rgb(160, 153, 95);
}
.flex-container{
    display: flex;
}
header ul{
    list-style-type: none;
}
header ul li{
    display:inline;
    margin: left 50px; 
}
header ul li a{
    color:rgba(235, 235, 235, 0.904);
    font-size: 18px;
    text-decoration: none;
}
.left-header{
    flex:50%;
}
.right-header{
    flex:50%;
    text-decoration: underline, wavy;
}
/* nav css starts here */
nav{
    background-color:cadetblue;
}
.left-nav{
    flex:30%;
    color: aliceblue;
}
.right-nav{
    flex:right;

}
nav ul{
    list-style-type: none;
}
nav ul li {
    display: inline;
}
nav ul li a{
    text-decoration: underline;
    font-size: 25px;
    font-weight: 700;
    transition: 2s all;
}
nav ul li a :hover{
    color:black;
}


